.navbar {
  background-color: rgb(85, 85, 85);
  font-size: 1.5em;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.nav-item {
  margin: 10px;
  a {
    color: white;
    text-decoration: none;
  }
}
