<div>
  <p *ngIf="!todos">No todos found from api</p>
  <app-todo-form (addTodo)="addTodo($event)"></app-todo-form>
  <div *ngIf="todos" class="w3-container scroll">
    <table class="w3-table-all">
      <thead>
        <tr class="pelle">
          <th>Status</th>
          <th>Title</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody *ngFor="let todo of todos" class="tablebody">
        <tr my-todo-item [todo]="todo" (deleteTodo)="deleteTodo($event)"></tr>
      </tbody>
    </table>
  </div>
</div>
