.form {
  width: 100%;
  margin: 20px;
 
  input[type=text] {
    border: 1px solid white;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 2%;
  }
  .btn {
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 2%;
  }
}